.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45vh;
    gap: 3rem;
    color: white;
    background-color: #000;
}

.title{
    padding-top: 5rem;
    font-size: 2rem;
}

.paragraph{
    width: 31rem;
    text-align: center;
    line-height: 1.7rem;
}