.container{
    display: flex;
    background-color: #000;
    height: 435px;
    width: 100%;
    /* border: 2px green solid; */
  }
  
  .formContainer1{
      display: flex;
      flex-direction: column;
      height: 400px;
      max-width: 600px;
      gap: 2rem;
      justify-content: center;
      margin: auto;
      align-items: center;
      background-color: #333;
      border-radius: .22rem;
      /* border: 2px yellow solid; */
  }

  .formContainer2{
    display: flex;
    flex-direction: column;
    height: 400px;
    max-width: 600px;
    gap: 2rem;
    justify-content: center;
    margin: auto;
    align-items: center;
    background-color: red;
    border-radius: .22rem;
    /* border: 2px yellow solid; */
}

.formContainer3{
  display: flex;
  flex-direction: column;
  height: 400px;
  max-width: 600px;
  gap: 2rem;
  justify-content: center;
  margin: auto;
  align-items: center;
  background-color: blue;
  border-radius: .22rem;
  /* border: 2px yellow solid; */
}
  
  .formH2{
    background-color: #333;
    font-size: 1.3rem;
    /* border: 2px white solid; */
  }

  .containerBelowH2{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0 2rem;
    /* border: 2px blue solid; */
  }

  .formsBoth{
      display: flex;
      flex-wrap: wrap;
      width: 50%; 
      height: fit-content;
      gap: .7rem;
      background-color: #333; 
      /* border: white 2px solid;      */
  }

    /* IN FORM 1 */    

  /* WHY BORDER BOX? and look weird w out it */
 .firstName, .lastName{
    width: 45%;
    box-sizing: border-box;
    flex-grow: 1;
    border-radius: .3rem;
    height: 2.25rem;
    background-color: #666;
    padding-left: 10px;
    
 }

   /* WHY when change with first and last name dif then rest ??? */
   .practiceName, .emailAddress, .phone, .website {
    width: 100%;
    box-sizing: border-box;
    border-radius: .3rem;
    height: 2.25rem;
    background-color: #666;
    padding-left: 10px;
}  

.selectPlan, .addr, .commentsSection {
    width: 100%;
    border-radius: .3rem;
    background-color: #666;
    height: 2.25rem;
    font-size: .7rem;
    padding-left: 15px;
    color: #333;
}


.commentsSection{
    height: 8.2rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

input::placeholder, textarea::placeholder{
    color: #333;
    font-size: .8rem;
}

.submitBut{
    border-radius: .3rem;
    padding: .5rem 1rem;
    /* border: orange 2px solid; */
}

.submitBut:active{
  scale: .97;
  background-color: lightgray;
}

/* easier way to make all alignt correctly? did i do form1 and for2 2 correctly? */



/* can i make * bigger like this ? */

/* input::placeholder::after {
  content: '*';
  font-size: 1.5em; Adjust the font size as needed */
  /* color: red; Adjust the color as needed */
  /* vertical-align: middle; Align the asterisk vertically */
/* } */























