.container{
    height: 100vh;
    padding-bottom: 2rem;
    background-color: black;
}

.title{
    color: white;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    padding-top: 2rem; 
}


.underTitleContainer {
    display: flex;
    justify-content: center;
    gap: .5rem;
    margin: 1.15rem;
    font-size: .8rem;
    padding-left: 7.5rem;
    background-color:black;
  }


  .underTitleContainer span{
    color: white;
}

.perMonth{
    font-size: .8rem;
    color: black;
}


.toggleIcon{
    color: grey;
}

.planBoxes{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 2rem;
    height: 28rem;
}

.planBoxes > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    width: 100%;
    max-width: 16rem;
    height: 23.5rem;
    padding: 2.5rem;
    border-radius: var(--box-radius);
}

.planBoxes > div > div:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 1.5rem; 
}

.planBoxes > div > div:nth-child(2){
    height: 9.6rem;

}
/* erase display and flex and expected to be side by side, then thought it was parennt or grandparent inheritence but no */
.planBoxes > div > div:nth-child(2) > ul {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.planBoxes > div > div:nth-child(2) > ul > li {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.leftPink{
    background-color: pink;
}

.middleBlue{
 background-color: turquoise;
}

.rightYellow{
    background-color: goldenrod;
}


.bullet{
    font-size: 1.5rem;
    vertical-align: middle;
}


.tier{
    font-size: 1.2rem;
    font-weight: bold;
}

.price{
    font-size: 3.2rem;
    font-weight: bold;
}

.audience{
    font-size: .8rem;
}

.planBoxes li{
 font-size: .8rem;
}


.buttonBlack{
    display: block;
    width: 9.5rem;
    text-align: center;
    padding: .75rem 0;
    color: white;
    border: var(--button-border-black);
    background-color: black;
    border-radius: .5rem;
    font-size: .7rem;
}


/* Media Queries  */


@media screen and (max-width: 640px){
    .container{
        height: fit-content;
        padding-top: 88px;
        background-color: black;
    }
    
    .planBoxes{
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }

    .title{
        font-size: 3.5rem;
    }

    .price{
        font-size: 2.5rem;
    }


}

@media screen and (max-width: 480px){
    .container{
        height: fit-content;
        padding-top: 88px;
        /* padding-bottom: 2rem; */
        background-color: black;
    }
    
    .planBoxes{
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }

    .title{
        font-size: 2.5rem;
    }

    .price{
        font-size: 2rem;
    }


}


@media screen and (max-width: 360px){
    
    .underTitleContainer{
        max-width: 18rem;
        background-color: black;
        padding-right: 1.5rem;
    }

    .planBoxes{
        height: 89rem;
    }

    .saveImg{
        width: 70px;
        padding-right: 1rem;
    
    }
/*     
    .saveImgBelow{
       display: inline;
    } */
 
}

