.componentContainer{
    background-color: white;
    /* is 89 the rigid nav h so always will be 100%-89 to respons? */
    min-height: calc(100vh - 89px);
    display: flex;
    justify-content: center;
    align-items: center;

}

.parentContainer{
    display: flex;
    height: fit-content;
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
    overflow: hidden;
    background-color: ghostwhite;
    box-shadow: 10px 10px 20px rgba(49, 75, 244, 0.3);
}


/* BLUE */

.blueLeftChild{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    background-color:  rgb(37, 18, 159);
    border-radius: 20px;
    width: 50%;
    height: 380px;
    gap: 25px;
}

.yourResultsTitle{
    color: grey;
}

.circleWithNum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
    width: 150px;
    height: 150px;
    background: linear-gradient(to bottom, rgba(48, 20, 120, 1) 0%, rgba(48, 20, 120, 0.5) 50%, rgba(48, 20, 120, 0) 100%);
}

.seventySix{
    color: white;
    font-size: 60px;
}

.smallNum{
    color: grey;
    font-size: 13px;
}

.messageBelowNum{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    gap: 10px;
}

.affirmation{
    color: white;
    font-size: 25px;
    font-weight: normal;
}

.affirmationMsg{
    color: grey;
    text-align: center;
    line-height: 22px;
    font-size: 14px;
}


/* WHITE */

.whiteRightChild{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 35px;
    background-color: ghostwhite;
    width: 50%;
    height: 380px;
    /* can we do w/out this below? */
    /* gap: 25px; */
}

.summaryTitle{
    font-weight: bold;
    color: rgb(15, 15, 24);
}

.fourSumContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.fourSumContainer > div{
    height: 40px;
    border-radius: 5px;
    padding: 15px;
    /* can we do without below? */
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.fourSumContainer > div > p:nth-child(1){
    display: flex;
    align-items: center;
    gap: 20px;
}

.redReaction{
    background-color: rgb(237, 198, 198);
    color: red;
    /* below really needed? */
    /* align-items: center; */
}

.yellowMemory{
    background-color: rgb(242, 242, 214);
    color: goldenrod;
}

.greenVerbal{
    background-color: rgb(197, 235, 197);
    color: green;
}

.blueVisual{
    background-color: rgb(187, 187, 252);
    color: blue;
}


.continueButton{
    color: white;
    padding: 15px;
    background-color:  rgb(15, 15, 48);
    border-radius: 17px;
    width: 100%;
    text-align: center;
    font-size: 12px;
}

.bold{
    font-weight: bold;
    color: navy;
}

.outOf{
    color: navy;
}



@media screen and (max-width: 480px) {
    

    
}