.container{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 89px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: black;
    color: white;
    /* padding: .5rem 3rem .5rem .5rem; */
}


.containerLogo{
    padding-left: 13rem;
}

.rightLinks{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-right: 14rem;
}

.getStartedButton{
    border-radius: .5rem;
    background-color: #ffffff;
    border: .1rem solid white; 
    color: black;
    font-size: .9rem;
    width: 9.5rem;
    padding: .75rem 0rem;
    text-align: center;
    font-weight: 400;
}

.burgerIcon{
    display: none;
    color: red;
    padding-right: 1rem;
}


/* Media Queries  */

/* @media screen and (max-width: 1024px){

}

@media screen and (max-width: 970px){

}

@media screen and (max-width: 768px){
    
} */

@media screen and (max-width: 640px){
    .burgerIcon{
        display: block;
        cursor: pointer;
        color: white;
    }

    .rightLinks{
        display: none;
        flex-direction: column;
        position: fixed;
        align-items: center;
        width: 100%;
        gap: 4rem;
        top: 89px;
        height: calc(100vh - 89px);
        padding-top: 2rem;
        /* padding-right: 0; */
        background-color: black;
    }

    .showLinks{
        display: flex;
    }
    
    .container{
        position: fixed;
        top: 0;
        width: 100%;
    }

    .containerLogo{
        padding: 0;
    }

}

@media screen and (max-width: 480px){
    .burgerIcon{
        display: block;
        cursor: pointer;
        color: white;
    }

    .rightLinks{
        display: none;
        flex-direction: column;
        position: fixed;
        align-items: center;
        width: 100%;
        gap: 3em;
        top: 89px;
        right: 0;
        height: calc(100vh - 89px);
        padding-top: 3rem;
        padding-right: 0;
        background-color: yellow;
    }

    .showLinks{
        display: flex;
    }

    .container{
        position: fixed;
        top: 0;
        width: 100%;
       
    }

    .containerLogo{
        padding-left: 0;
    }

   
}

@media screen and (max-width: 360px){
    .burgerIcon{
        display: block;
        cursor: pointer;
        color: white;
    }

    .rightLinks{
        display: none;
        flex-direction: column;
        position: fixed;
        align-items: center;
        width: 100%;
        gap: 3rem;
        top: 89px;
        right: 0;
        height: calc(100vh - 89px);
        padding-top: 3rem;
        padding-right: 0;
        background-color: black;
    }

    .showLinks{
        display: flex;
    }
}