.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: black;
    color: white;
    /* padding: .5rem 3rem .5rem .5rem; */
}

.containerLogo, .rightLinks{
    padding-top: 2rem;
}

.containerLogo{
    padding-left: 15rem;
}

.rightLinks{
    display: flex;
    gap: 1.25rem;
    align-items: center;
    padding-right: 13.75rem;
}

.getStartedButton{
    border-radius: var(--border-radius);
    background-color: var(--button-background-white);
    border: var(--button-border-white);
    color: black;
    font-size: .9rem;
    padding: var(--padding-one);
    width: var(--button-width);
    text-align: center;
    font-weight: 400;
}

.burgerIcon{
    display: none;
    color: red;
    padding-right: 1rem;
}


/* Media Queries  */

@media screen and (max-width: 480px){
    .burgerIcon, .closeIcon{
        display: block;
        cursor: pointer;
    }

    .rightLinks{
        display: none; 
        flex-direction: column;
        position: fixed;
        align-items: center;
        width: 100%;
        gap: 7rem;
        top: 88px;
        right: 0;
        height: calc(100vh - 88px);
        padding-top: 3rem;
        padding-right: 0;
        background-color: black;
    }

    .showLinks{
        display: flex;
    }

    .container{
        gap: 0rem;
        position: fixed;
        width: 100%;
    }

    .containerLogo{
        padding-left: 0;
    }

   
}